:host {
  display: block;
  position: relative;
}
.requirement-indicator{
  width:0;
  height:0;
  border-bottom:20px solid lightgray;
  border-top:20px solid transparent;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  position: absolute;
}
