:host {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid lightgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
svg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
header,
footer {
  height: 22px;
  width: 100%;
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
}
header {
  top: 35%;
  left: 10%;
}
header>paper-button,
footer>paper-button {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  height: 40px;
  width: 40px;
  transform: rotate(-45deg);
}
header>paper-button {
  top: 0;
  bottom: 400%;
}
footer {
  top: 55%;
  left: -10%;
}
footer>paper-button {
  top: 400%;
  bottom: 0;
}
