:host {
  display: block;
  width:100%;
}
header{
  display:block;
  position:relative;
}
#content{
  position:relative;
  display:block;
  display: inline-block;
  float:left;
}
#requirementControls{
  width:210px;
  float:left;
  display: block;
  height:100%;
  position:absolute;
}
#requirementControls half-box{
  width:200px;
  height:200px;
  position:absolute;
  bottom:0;
  right:-2px;
  background: white;
}
#customerRequirements{
  margin-left:212px;
}
#requirements{
  width:200px;
  margin-left:10px;
  float:left;
  height:auto;
  text-align: center;
}
#requirementsEvaluation{
  width:210px;
  float:left;
  height:auto;
  text-align: center;
}
#requirements>*, #requirementsEvaluation>*{
  width:100%;
}
.customerRequirement_container{
  height:201px;
  width:40px;
  margin:0;
  display: inline-block;
  position: relative;
  margin-left:-4px;
}
.customerRequirement{
  transform: rotate(90deg);
  transform-origin: left bottom;
  height: 40px;
}
.requirementsEvaluation_container{
  height:40px;
  background: #fff;
  border: 1px solid lightgray;
}
#requirementsEvaluation double-range{
  margin-top:10px
}
